* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3 {
    font-size: 25px;
}

div #nome {
    display: flex;
    margin: 10px 0;
}

.espacamento {
    margin: 20px 0;
}

.container_resposta {
    display: flex;
}

.respostas {
    border: 1px solid #2C5F72;
    margin: 20px 20px 0 0;
    border-radius: 10px;
    width: 350px;
    height: 350px;

}

.corCorretas {
    color: #548EA6;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.corIncorretas {
    color: #F38C8D;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}